:root 
{
    --vetra-black: #171219;
    --vetra-gray: #EBEBEB;
    --vetra-darker-red: #A90F12;
    --vetra-dark-red: #C61317;
    --vetra-red: #E4181C;
    --vetra-light-red: #EA4239;
    --vetra-lighter-red: #F05D51;
    --vetra-white: #FFFFFF;
    
    --vetra-green: #1CE418;
    --vetra-blue: #181CE4;
}

html, body
{
    font-family: "Onest", sans-serif;
    background-color: var(--vetra-white);
    color: var(--vetra-black);
}

*
{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable
{
    cursor: pointer;
}

.game-window
{
    min-height: 400px;
}

.status-right
{
    font-weight: bold;
    color: var(--vetra-green)
}

.status-wrong
{
    font-weight: bold;
    color: var(--vetra-red)
}

.status-none
{
    display: none;
}

hr
{
    border-top: 4px solid;
    border-color: var(--vetra-light-red);
    border-radius: 4px;
    opacity: 1;
    margin: 0;
}