@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* /Components/LessonButton.razor.rz.scp.css */
[b-7op0mwn4cr] .btn
{
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border-style: solid;
    border-width: 0;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 5px;
}

h3[b-7op0mwn4cr]
{
    font-weight: bold;
}
/* /Pages/LessonPage.razor.rz.scp.css */
