@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* /Components/LearnPage/LessonButton.razor.rz.scp.css */
[b-fv12mx4wij] .btn
{
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border-style: solid;
    border-width: 0;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 5px;
    
    color: var(--vetra-white);
}

h3[b-fv12mx4wij]
{
    font-weight: bold;
}
