@inherits LessonTypeBase

@if (NotReady())
    return;

<div class="row">
    <div class="col-12 text-center">

        <h4 class="mb-5"><strong>Study the Term</strong></h4>
        <div class="clickable" @onclick="SpeakOneShot">
            
            <VocabIcon Vocab="@Logic.Term"/>
            <h1>@Logic.Term.RU</h1>

        </div>

        <TermInfo Term="@Logic.Term"/>
            
        

        <br>
        <button class="btn" @onclick="() => Done()">Done</button>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        SpeakOneShot();
    }

    void Done()
    {
        Logic.Passed = true;
        LogicChanged.InvokeAsync(Logic);

        OnFinish?.Invoke();
    }
}