@inherits LessonTypeBase

@if (NotReady())
    return;

<div class="row">
    <div class="col-12 text-center">
        
        <h4 class="mb-5"><strong>Study the Term</strong></h4>
        
        <VocabIcon Vocab="@Logic.Term"/>
        <h1>@Logic.Term.RU</h1>
        
        <TermInfo Term="@Logic.Term"/>

        <br>
        <button class="btn" @onclick="() => Done()">Done</button>
    </div>
</div>

@code
{
    void Done()
    {
        Logic.Passed = true;
        LogicChanged.InvokeAsync(Logic);

        OnFinish?.Invoke();
    }
}