@inject HelperService Helper

<h5>@Helper.DefinitionFormat(Term, TransliterationOverride)</h5>

@if(Term.Category == "Noun")
{
    <p>@Term.Category - @Term.Gender</p>
}else if(Term.Category == "Adjective")
{ 
    <p>@Term.Category</p>
}

@code
{
    [Parameter, EditorRequired]
    public VocabHeader Term { get; set; } = default!;

    [Parameter]
    public string TransliterationOverride { get; set; } = default!;
}