@if (Ready)
{
    <div class="row">
        <div class="col-6"></div>

        @if(EmojiIcon != "")
        {
            <div class="oma-full oma-@EmojiIcon"></div>
        }else
        {
            <div class="oma-full">
                <Icon class="oma-bootstrap" Name="@BoostrapIcon" draggable="false"/>
            </div>
        }
    </div><br>
}  

@code
{
    [Parameter]
    public VocabHeader Vocab { get; set; } = default!;

    IconName BoostrapIcon = IconName.Bug;
    string EmojiIcon = "";
    bool Ready = false;

    protected override void OnInitialized()
    {
        if (Vocab != null)
        {
            if (Vocab.Icon != null && Vocab.Icon != "MISSING")
            {
                EmojiIcon = Vocab.Icon.ToLower().Replace(" ", "-");
                Ready = true;
                return;
            }
            else if (Vocab.IconBW != null && Vocab.IconBW != "MISSING")
            {
                if (!Enum.TryParse<BlazorBootstrap.IconName>(Vocab.IconBW.Replace(" ", ""), out BoostrapIcon))
                {
                    BoostrapIcon = IconName.Bug;
                }

                Ready = true;
                return;
            }
        }

        EmojiIcon = "white-question-mark";
        Ready = true;
        return;
    }
}