<div class="row my-4"> <!-- Two Lessons -->
    <div class="col-lg-3 col-0"></div>
    <div class="col-lg-6 col-12">
        <div class="row">
            <div class="col-6"><LessonButton Key=@One/></div>
            <div class="col-6"><LessonButton Key=@Two/></div>
        </div>
    </div>
    <div class="col-lg-3 col-0"></div>
</div>

@code
{
    [Parameter, EditorRequired]
    public string One {get; set;} = "ERROR";

    [Parameter, EditorRequired]
    public string Two {get; set;} = "ERROR";
}