@inject LessonService Service
@inject NavigationManager Navigation
@inject ProfileService Profile

<div class="text-center">
    @if(Key != "ERROR")
    {
        <Button class="@(Profile.Data.LastLessonPlayed == Key ? "scrollto" : "")" @onclick="Navigate"><Icon Name=@Icon Size="IconSize.x1" draggable="false"/></Button>
        <h3 class="mt-2">@Service.LessonHeaders[Key].Name</h3>
    }else
    { 
        <Button><Icon Name="IconName.Bug" Size="IconSize.x1" draggable="false"/></Button>
        <h3 class="mt-2">ERROR</h3>
    }
</div>

@code
{
    [Parameter, EditorRequired]
    public string Key {get; set;} = "ERROR";

    private IconName Icon = IconName.Bug;

    protected override void OnInitialized()
    {
        if (!Service.LessonHeaders.ContainsKey(Key))
        {
            Key = "ERROR";
        }
        else
        {
            string Name = Service.LessonHeaders[Key].IconBW.Replace(" ", "");

            if (!Enum.TryParse<BlazorBootstrap.IconName>(Name, out Icon))
            {
                Icon = IconName.Bug;
            }                
        }
    }

    public void Navigate()
    {
        Navigation.NavigateTo("lesson/" + Key.ToLower().Replace(" ", "+"));
    }
}