<div class="row">
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-12">
        <h1 class="text-center"><strong>@Title</strong></h1>
        <hr>
    </div>
    <div class="col-lg-2 col-0"></div>
</div>

@code
{
    [Parameter]
    public string Title {get; set;} = "";
}