<div class="row my-4"> <!-- Three Lessons -->
    <div class="col-lg-2 col-0"></div>
    <div class="col-lg-8 col-12">
        <div class="row">
            <div class="col-4"><LessonButton Key=@One/></div>
            <div class="col-4"><LessonButton Key=@Two/></div>
            <div class="col-4"><LessonButton Key=@Three/></div>
        </div>
    </div>
    <div class="col-lg-2 col-0"></div>
</div>

@code
{
    [Parameter, EditorRequired]
    public string One {get; set;} = "ERROR";

    [Parameter, EditorRequired]
    public string Two {get; set;} = "ERROR";

    [Parameter, EditorRequired]
    public string Three {get; set;} = "ERROR";
}