<div class="row text-center">
    <div class="col-12">
        <p>Emojis with color designed by <a href="https://openmoji.org/">OpenMoji</a> – the open-source emoji and icon project. License: <a href="https://creativecommons.org/licenses/by-sa/4.0/#">CC BY-SA 4.0</a></p>
    </div>
</div>