:root 
{
    --vetra-black: #171219;
    --vetra-gray: #EBEBEB;
    --vetra-darker-red: #A90F12;
    --vetra-dark-red: #C61317;
    --vetra-red: #E4181C;
    --vetra-light-red: #EA4239;
    --vetra-lighter-red: #F05D51;
    --vetra-white: #FFFFFF;
}

html, body
{
    font-family: "Onest", sans-serif;
    background-color: var(--vetra-white);
    color: var(--vetra-black);
}

*
{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}