:root
{
    --bb-sidebar-content-border-color: var(--vetra-gray);
    --bb-sidebar-top-row-border-color: var(--vetra-gray);
    
    --bb-sidebar-top-row-background-color: var(--vetra-red);
    --bb-sidebar-nav-item-text-active-color: var(--vetra-red);
    --bb-sidebar-nav-item-text-hover-color: var(--vetra-red);
    
    --bb-sidebar-navbar-toggler-background-color: var(--vetra-light-red);
    --bb-sidebar-navbar-toggler-icon-color: var(--vetra-white);
}

.bb-top-row,.bb-sidebar-content
{
    background-color: var(--vetra-white);
    border-color: var(--vetra-gray);
}

.btn:active:focus, .btn:hover:active
{
    background-color: var(--vetra-dark-red);
    border-color: var(--vetra-red);
    color: var(--vetra-white);
}

.btn:hover, .btn:focus
{
    background-color: var(--vetra-red);
    border-color: var(--vetra-light-red);
    color: var(--vetra-white);
}

.btn
{
    background-color: var(--vetra-light-red);
    border-color: var(--vetra-lighter-red);
    color: var(--vetra-white);
}

.form-check-input:checked
{
    background-color: var(--vetra-light-red);
    border-color: var(--vetra-lighter-red);
}

.progress
{
    --bs-progress-bar-color: var(--vetra-white);
    --bs-progress-bar-bg: var(--vetra-light-red);
}

.nav-link:active, .nav-link.active
{
    --bs-nav-link-font-weight: bold;
}

.nav-link:hover
{
    color: var(--vetra-red);
}

.nav-link
{
    --bs-nav-tabs-link-active-color: var(--vetra-red);
    --bs-nav-link-color: black;
}

.toast
{
    
    color: var(--vetra-white) !important;
    background-color: var(--vetra-red) !important;
}

.btn-close
{
    filter: invert(1) !important;
    --bs-btn-close-opacity: 1 !important;
}