:root
{
    --bb-sidebar-content-border-color: var(--vetra-midtone);
    --bb-sidebar-top-row-border-color: var(--vetra-midtone);
    
    --bb-sidebar-top-row-background-color: var(--vetra-red);
    --bb-sidebar-nav-item-text-active-color: var(--vetra-red);
    --bb-sidebar-nav-item-text-hover-color: var(--vetra-red);
    --bb-sidebar-nav-item-text-color: var(--vetra-text);
    
    /*--bb-sidebar-title-text-color: var(--vetra-background);*/
    
    --bb-sidebar-navbar-toggler-background-color: var(--vetra-light-red);
    /*--bb-sidebar-navbar-toggler-icon-color: var(--vetra-white);*/
}

:root[data-theme="dark"]
{
    --bb-sidebar-top-row-background-color: var(--vetra-background);
}

.bb-top-row,.bb-sidebar-content
{
    background-color: var(--vetra-background);
    border-color: var(--vetra-midtone);
}

.btn:active:focus, .btn:hover:active
{
    background-color: var(--vetra-dark-red);
    border-color: var(--vetra-red);
    color: var(--vetra-white);
}

.btn:hover, .btn:focus
{
    background-color: var(--vetra-red);
    border-color: var(--vetra-light-red);
    color: var(--vetra-white);
}

.btn
{
    background-color: var(--vetra-light-red);
    border-color: var(--vetra-lighter-red);
    color: var(--vetra-white);
}

.btn a
{
    color: var(--vetra-white);
    text-decoration: none;
}

.form-check-input:checked
{
    background-color: var(--vetra-light-red);
    border-color: var(--vetra-lighter-red);
}

.progress
{
    --bs-progress-bg: var(--vetra-midtone);
    --bs-progress-bar-bg: var(--vetra-light-red);
}

.nav-link:active, .nav-link.active
{
    --bs-nav-link-font-weight: bold;
}

.nav-link:hover
{
    color: var(--vetra-red);
}

.nav-link
{
    --bs-nav-tabs-link-active-color: var(--vetra-red);
    --bs-nav-link-color: var(--vetra-text);
}

.nav-tabs
{
    --bs-nav-tabs-border-width: 2px;
    
    --bs-nav-tabs-border-color: var(--vetra-midtone);
    --bs-nav-tabs-link-active-bg: var(--vetra-background);
    --bs-nav-tabs-link-hover-border-color: var(--vetra-midtone);
    --bs-nav-tabs-link-active-border-color: var(--vetra-midtone);
}

.toast
{
    
    color: var(--vetra-white) !important;
    background-color: var(--vetra-red) !important;
}

.btn-close
{
    filter: invert(1) !important;
    --bs-btn-close-opacity: 1 !important;
}

.modal
{
    --bs-modal-color: var(--vetra-text);
    --bs-modal-bg: var(--vetra-background);
}