@page "/"
@using Vetra.Components

<PageTitle>Vetra - Learn</PageTitle>

<LessonRow1 One="Animals"/>
<LessonRow2 One="Food" Two="Furniture" />
<LessonRow3 One="Colors" Two="Numbers" Three="Emotions"/>
<LessonRow2 One="Clothing" Two="Body Parts" />

<div style="height:100px"></div>

