@page "/"
@using Vetra.Components

<PageTitle>Vetra - Learn</PageTitle>

<LessonRow1 One="Weather1"/>
<LessonRow2 One="Art" Two="Travel" />
<LessonRow2 One="Health" Two="Furniture1" />

<div style="height:100px"></div>

