@page "/"
@using Vetra.Components

<PageTitle>Vetra - Learn</PageTitle>

<LessonRow1 One="Animals"/>
<LessonRow2 One="Food" Two="Animals" />
<LessonRow2 One="Animals" Two="Food" />

<div style="height:100px"></div>

