@page "/"
@using Vetra.Components

<PageTitle>Vetra - Learn</PageTitle>

<LessonRow1 One="Weather"/>
<LessonRow2 One="Art" Two="Travel" />
<LessonRow2 One="Health" Two="Furniture" />


<div style="height:100px"></div>

