@page "/"
@inject IJSRuntime JS
@using Vetra.Components.LearnPage

<PageTitle>Vetra - Learn</PageTitle>

<SectionHeader Title="Basic Vocab" />

<LessonRow1 One="Animals"/>
<LessonRow2 One="Food" Two="Furniture" />
<LessonRow3 One="Colors" Two="Numbers" Three="Emotions"/>
<LessonRow2 One="Clothing" Two="Body Parts" />
<LessonRow1 One="Week Days"/>
<LessonRow2 One="Ordinal Numbers" Two="Sports" />
<LessonRow3 One="Months" Two="Transportation" Three="City"/>
<LessonRow2 One="Jobs" Two="Family" />
<LessonRow1 One="Nature"/>

<SectionHeader Title="Other Vocab" />

<div style="height:100px"></div>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        _ = JS.InvokeVoidAsync("scrollToElementByClass", "scrollto");
    }
}