@page "/Lesson/{URL}"
@inject LessonService Lessons
@inject ProfileService Profile
@using Vetra.Components

<PageTitle>Vetra - Lesson</PageTitle>

<div class="row my-4">
    <div class="col-lg-3 col-0"></div>
    <div class="col-lg-6 col-12">
        <div class="window">
            <LessonTypeMatch LessonKey=@Key/>
        </div>
    </div>
    <div class="col-lg-3 col-0"></div>
</div>

@code
{
    [Parameter]
    public string URL { get; set; } = "ERROR";

    public string Key = "ERROR";

    protected override void OnInitialized()
    {
        Key = char.ToUpper(URL[0]) + URL.Substring(1);
    }

    protected override async Task OnInitializedAsync()
    {
        for(int i = 0; i < Lessons.LessonHeaders[Key].Vocab.Count; i++)
            await Profile.ChangeProgress(Lessons.LessonHeaders[Key].Vocab[i], true);
    }
}