.window
{
    min-height: 400px;
}

.status-right
{
    font-weight: bold;
    color: var(--vetra-green)
}

.status-wrong
{
    font-weight: bold;
    color: var(--vetra-red)
}

.status-none
{
    display: none;
}