@page "/profile"
@inject ProfileService Profile

<PageTitle>Vetra - Profile</PageTitle>

@if (!Profile.Initialized)
{
    <div class="d-flex justify-content-center m-5">
        <Spinner Type="SpinnerType.Dots" Size="SpinnerSize.ExtraLarge" />
    </div>
}
else
{
    <ConfirmDialog @ref="ConfirmPopup" />

    <h1>@Profile.Data.Name</h1>
    <br>
    <form @onsubmit="Profile.SaveProfile">
        <input type="text" @bind="Profile.Data.Name" />
        <button type="submit">Save</button>
    </form>
    <br><br>
    <button class="btn" @onclick="ResetProfile">Reset Profile</button>
}

@code 
{
    private ConfirmDialog ConfirmPopup = default!;

    protected override async Task OnInitializedAsync()
    {
        while (!Profile.Initialized)
        {
            await Task.Delay(250);
        }

        StateHasChanged();
    }

    private async Task ResetProfile()
    {
        var Confirmed = await ConfirmPopup.ShowAsync
        (
            title: "Are you sure you want to reset your profile?",
            message1: "All of your progress will be lost."
        );

        if (Confirmed)
        {
            Profile.Data = new ProfileData();
            await Profile.SaveProfile();
        }
    }
}
