@page "/progress"
@using Vetra.Components
@using Vetra.Components.ProgressPage
@inject ProfileService Profile

<PageTitle>Vetra - Progress</PageTitle>

@if (!Profile.Initialized)
{
    <Waiting />
}
else
{
    if (Profile.Data.LearnedVocab.Count == 0)
    {
        <NoLearnedTerms />
    }
    else
    {
        <br>
        <div class="row">
            @for (int i = 0; i < Profile.Data.LearnedVocab.Count; i++)
            {
                <TermProgress index=@i Data=Profile.Data/>
            }
        </div>
    }
}

<style>
    .progress
    {
        margin-bottom: 20px;
    }
</style>

@code
{
    protected override async Task OnInitializedAsync()
    {
        while (!Profile.Initialized)
        {
            await Task.Delay(250);
        }

        StateHasChanged();
    }
}