@page "/settings"
@inject SettingsService Settings

<PageTitle>Vetra - Settings</PageTitle>

@if (!Settings.Initialized)
{
    <Vetra.Components.Waiting />
}
else
{
    <h1 class="text-center"><strong>App Settings</strong></h1>
    <hr><br>

    <Switch @bind-Value="Settings.Data.EnableDarkTheme" Label="Enable Dark Theme" />
    <Switch @bind-Value="Settings.Data.DevToolsEnabled" Label="Show Developer Tools" />
    <Switch @bind-Value="Settings.Data.HideNotifications" Label="Hide Notifications" />
    <Switch @bind-Value="Settings.Data.EnableSoundEffects" Label="Enable Sound Effects" />
    <Switch @bind-Value="Settings.Data.EnableTTS" Label="Enable Text to Speech" />
    <Switch @bind-Value="Settings.Data.EnableSpeechLessons" Label="Enable Speech Lessons" />
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        while (!Settings.Initialized)
        {
            await Task.Delay(250);
        }

        StateHasChanged();
    }
}