@page "/settings"
@inject SettingsService Settings

<PageTitle>Vetra - Settings</PageTitle>

<p>App options</p>

@if (!Settings.Initialized)
{
    <div class="d-flex justify-content-center m-5">
        <Spinner Type="SpinnerType.Dots" Size="SpinnerSize.ExtraLarge" />
    </div>
}
else
{
    <Switch @bind-Value="Settings.Data.DevToolsEnabled" Label="Toggle Developer Tools" />
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        while (!Settings.Initialized)
        {
            await Task.Delay(250);
        }

        StateHasChanged();
    }
}